@font-face {
  font-family: 'GuildofProfessionalActors';
  src: url('fonts/GuildofProfessionalActors.woff') format('woff'),
       url('fonts/GuildofProfessionalActors.ttf') format('truetype'),
       url('fonts/GuildofProfessionalActors.svg#GuildofProfessionalActors') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EllipticaLight';
  src: url('fonts/EllipticaLight.woff') format('woff'),
       url('fonts/EllipticaLight.ttf') format('truetype'),
       url('fonts/EllipticaLight.svg#EllipticaLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    margin-bottom: 26px;
}
body.padded {
    padding-top: 50px;
}

.moreLinks {
    display: flex;
    justify-content: space-around;
}

.imageContainer {
    position: relative;
}

.panel .imageBig {
    width: 100%;
}

.panel .imageSmall {
    width: 100%;
    /* More in @media section (large) */
}

.imageAlignLeft {
    text-align: center;
    /* More in @media section (large) */
}
.imageAlignRight {
    text-align: center;
    /* More in @media section (large) */
}

@media (min-width: 992px) {
    /* Large */
    .panel .imageSmall {
        width: 470px;
    }
    .imageAlignLeft {
        text-align: left;
    }
    .imageAlignRight {
        text-align: right;
    }
    .aboutTextPadder {
        padding-top: 37.5px;
    }
}

.panel-inline {
    display: inline-block;
}
.panel-table {
    display: table;
    margin: auto;
}

.sizeLabel {
    position: absolute;
    bottom: 5px;
    right: 20px;
}

figure {
    display: inline;
    margin: 0;
}

html {
    position: relative;
    min-height: 100vh;
}

.navbar {
    background-color: #220c04;
    font-family: 'EllipticaLight', Verdana, sans-serif;
    font-size: medium;
    margin: 0;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #37231b;
}

.titleName {
    font-family: 'GuildofProfessionalActors', 'Comic Sans MS', fantasy;
    font-size: 3em;
    font-size: calc(200% + 2vw);
}

.affix {
    min-width: 100%;
    top: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 26px;
}

.popover {
  max-width: 600px;
  width: auto;
}

.slick-next {
    right: 15px;
}

.slick-prev {
    left: 15px;
}

.slick-arrow {
    z-index: 100;
}

/*https://xieranmaya.github.io/images/cats/cats.html
  https://github.com/xieranmaya/blog/issues/6
  http://jsbin.com/wiwamaluse/edit?html,css,output*/
.blogImages {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
}

.blogImages > div {
  margin: 2px;
  position: relative;
}

.blogImages > div > i{
  display: block;
}

.blogImages > div > .blogPicture {
  position: absolute;
  vertical-align: bottom;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogImages > .placeholder {
  flex-grow: 100;
  flex-basis: 240px;
  height: 0;
}

.blogMore:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin: 0;
}

.blogMore {
  background: #F5DEB3;
  margin: 0;
}
